= link_to "New Announcement", new_announcement_path, class: "btn btn-default pull-right"

%table.table.table-striped.table-hover
  %thead
    %tr
      - if current_user.admin?
        %th Country
      %th Message
      %th Schedule
      %th Last Sent
      %th
  %tbody
    - @announcements.each do |announcement|
      %tr
        - if current_user.admin?
          %td= announcement.country.name
        %td= announcement.message
        %td= announcement.preview
        %td
          - if announcement.last_sent_at
            = short_date announcement.last_sent_at
          - else
            Never
        %td
          - if announcement.sendable?
            = link_to deliver_announcement_path(announcement), method: :post, class: "btn btn-default" do
              = icon :send
              Send Now
              %small to #{announcement.reach} volunteers
          - else
            = link_to deliver_announcement_path(announcement), method: :post, disabled: "disabled", title: "Announcment has been sent too recently to re-send", class: "btn btn-default" do
              = icon :send
              Send Now
              %small to #{announcement.reach} volunteers

          = link_to edit_announcement_path(announcement), class: "btn btn-default" do
            = icon :edit
            Edit
