= content_for :page_title do
  Change Password

= form_for(resource, as: resource_name, url: user_registration_path(resource_name), html: {method: :patch}) do |f|

  = devise_error_messages!

  .title
    %h2
      = current_user.name
      %small= current_user.pcv_id
  .row
    .col-md-6
      - inputs f do |i|
        = i.password_field :current_password
        = i.password_field :password, title: "New Password"
        = i.password_field :password_confirmation

      %button.btn.btn-primary(type="submit") Update
