= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  
  = devise_error_messages!

  %h3 (REMOVED) Sign up
  .form__section
    .input-group
      = f.text_field :first_name, placeholder: 'First Name', class: 'input--full'
    .input-group
      = f.text_field :last_name, placeholder: 'Last Name', class: 'input--full'
    .input-group
      = f.email_field :email, placeholder: 'Email', class: 'input--full'
    .input-group
      = f.text_field :pcv_id, placeholder: 'PCV ID', class: 'input--full'
    .input-group
      = f.telephone_field :phone, placeholder: 'Phone Number', class: 'input--full'
    .input-group
      = f.text_field :city, placeholder: 'City', class: 'input--full'
    .input-group
      .select.select--full
        %select
          %option(value="") Country
          = options_for_select Country.all.map { |c| [c.name.titleize, c.id] }
        %i.icon-caret-down.select__arrow
    .input-group
      = f.password_field :password, placeholder: 'Password', class: 'input--full'
    .input-group
      = f.password_field :password_confirmation, placeholder: 'Password Confirmation', class: 'input--full'
    .btn-group
      %button.btn.btn--primary(type="submit") Submit
