%img{src: "http://pcmedlink.org/logo_50.gif", style: "float: left"}
%h1{style(:header, "float" => "left", "margin-left" => "20px") }= @subject
%hr{style(clear: :both)}


%table
  %thead
    %tr
      %th Supply
      %th
      %th Response
  %tbody
    - @orders.each do |order|
      %tr
        %td= order.supply.shortcode
        %td= order.supply.name
        %td= order.delivery_method.title

%p= @response.extra_text
