%h1= @subject

%p Your order of:

%ul
  %li= "#{@order.quantity} #{@order.supply.name}"

- if @response.denied?
  %p has been denied. Please see the attached response:
- else
  %p has successfully been fulfilled. Please follow the attached instructions:

%p= @response.instructions
