%h1= @subject

%table
  %thead
    %tr
      %th Supply
      %th
      %th Response
  %tbody
    - @orders.each do |order|
      %tr
        %td= order.supply.shortcode
        %td= order.supply.name
        %td= order.delivery_method.title

%p= @response.extra_text
