%img{src: "http://pcmedlink.org/logo_50.gif", style: "float: left"}
%h1{style(:header, "float" => "left", "margin-left" => "20px") } PC Medlink
%hr{style(clear: :both)}

%h2{style(:header)} Hello #{@response.user.name},

%p We have processed your requested medical supplies, and this completes your order. Below you will find instructions and information about your order.

%h3{style(:header)} Order Details
%hr

%table
  %thead
    %tr
      %th Supply
      %th
      %th Response
  %tbody
    - @orders.each do |order|
      %tr
        %td= order.supply.shortcode
        %td= order.supply.name
        %td= order.delivery_method.title

%p= @response.extra_text

%hr

%p To review previous orders go to #{link_to "pcmedlink.org", orders_url}

%p If you need further assistance, or wish to request other medications not listed on PCMedlink please contact your Health Unit directly.
