%nav.navbar.navbar-default{role: "navigation"}
  .container
    -# Brand and toggle get grouped for better mobile display
    .navbar-header
      - if current_user
        %button.navbar-toggle{"data-target" => "#main-navigation", "data-toggle" => "collapse", type: "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
      %a.navbar-brand(href=root_path)
        %img(src="/logo_50.gif")
        %span PC Medlink
        - if current_user && !current_user.admin?
          %small= current_user.country.name


    - if current_user
      -# Collect the nav links, forms, and other content for toggling
      #main-navigation.collapse.navbar-collapse
        - if current_user.try :admin?
          = form_tag set_country_admin_users_path, class: "admin_country_select navbar-form navbar-left" do
            .form-group
              - blank = current_user.country_id ? false : "Select Country"
              = collection_select :country, :country_id, Country.all, :id, :name,
                { include_blank: blank, selected: current_user.country_id },
                { class: "form-control" }
            %noscript
              %button.btn.btn-default.btn-sm Update
        %ul.nav.navbar-right.navbar-nav
          - if current_user.admin?
            %li= link_to 'Users', new_admin_user_path
            %li.uncollapsed.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"} Supplies
              %ul.dropdown-menu
                %li= link_to 'Country Supplies', country_supplies_path
                %li= link_to 'Master Supply List', supplies_path

          - if current_user.pcv?
            %li= link_to 'Place a Request', new_request_path
            %li= link_to 'Request History', orders_path
          - else
            %li= link_to 'Supplies', country_supplies_path
            %li= link_to 'Requests', manage_orders_path
            %li= link_to 'Responses', responses_path
            %li= link_to 'Reports', reports_path
            -# Inline the gear menu when collapsed
            %li.collapsed-only= link_to 'Help', help_path
            - if policy(:message_sender).new?
              %li.collapsed-only= link_to 'Messages', new_message_path
            %li.collapsed-only= link_to 'Edit Account', edit_user_path
            %li.collapsed-only= link_to 'Change Password', edit_user_registration_path
            %li.collapsed-only= link_to 'Sign Out', destroy_user_session_path, method: :delete

          -# Gear dropdown menu for wide resolutions
          %li.uncollapsed.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
              %i.fa.fa-cog
            %ul.dropdown-menu
              %li= link_to 'Help', help_path
              - if policy(:message_sender).new?
                %li= link_to 'Messages', new_message_path
              %li= link_to 'Edit Account', edit_user_path
              %li= link_to 'Change Password', edit_user_registration_path
              %li= link_to 'Sign Out', destroy_user_session_path, method: :delete
