- if current_user
  .navbar
    .navbar-inner
      - if current_user.admin? || current_user.pcmo?
        %ul.nav
          - if current_user.admin?
            %li= link_to 'Admin Home', new_admin_user_path
          %li= link_to 'Request Manager', manage_orders_path
          %li= link_to 'Place a Request', new_order_path
          %li= link_to 'Reports', reports_path
          %li.divider-vertical
      %ul.nav.pull-right
        %li
          %a(href="#" class="dropdown-toggle" data-toggle="dropdown")
            %i.fa.fa-cog
          %ul.dropdown-menu
            - if current_user.pcv?
              %li= link_to 'Request Supply', new_order_path
            %li= link_to 'Request History', orders_path
            %li= link_to 'Change Password', edit_user_registration_path
            %li= link_to 'Help', help_path
            %li= link_to 'Sign Out', destroy_user_session_path, method: :delete

