.form-group
  %label
    Phones
  #phone-fields
    = form.fields_for :phones do |phone_form|
      .input-group
        = phone_form.text_field :number,
          placeholder: 'Phone number must include \'+\' and the country code',
          class:       'form-control'
        %span.input-group-btn
          = phone_form.link_to_remove class: "btn btn-danger" do
            = icon :remove
  = form.link_to_add :phones, data: { target: "#phone-fields" } do
    Add Additional Phone Number
    = icon :plus
