= content_for :page_title do
  Edit Account

.row
  .col-md-6
    = bootstrap_nested_form_for @user do |f|
      = title do
        = @user.name
        %small= @user.pcv_id

      = f.text_field :first_name
      = f.text_field :last_name
      = f.email_field :email
      = f.text_field :location
      = f.select :time_zone,
        ActiveSupport::TimeZone.all.map { |t| [t, t.name] },
        { include_blank: true }, {}
      = render partial: "partials/phone_form.html.haml", locals: { form: f }

      %button.btn.btn-primary(type="submit") Save
      = link_to "Change Password", edit_user_registration_path, class: "btn btn-default"
