%thead
  %tr
    %th PCVID
    %th First Name
    %th Last Name
    %th Location
    %th Requests
%tbody
  - orders.group_by(&:user).each do |user, os|
    - attrs = { "class" => "order c#{user.country_id}" }
    - unless responded
      - attrs["class"] += " link"
      - attrs["data-link"] = new_user_response_path user
    %tr{ attrs }
      %td= user.pcv_id
      %td= user.first_name
      %td= user.last_name
      %td= user.location
      %td
        - os.group_by { |o| o.created_at.to_i }.each do |_, _os|
          %dl
            %dt
              %span= _os.first.created_at.in_time_zone(user.time_zone).strftime '%-m/%-d/%y'
              %small.cell--secondary= _os.first.created_at.in_time_zone(user.time_zone).strftime '%H:%M'
            %dd= _os.map { |o| o.supply.name }.join ', '
