- anchor = label.downcase.gsub /\s/,'-'
%div{ id: anchor }
  = title do
    = label
  - if rows.any?
    = render partial: "partials/pager",
      locals: { anchor: anchor, pager: rows, page_param: "#{prefix}page" }
    %table.table.table-striped.table-hover
      %thead
        %tr
          %th= sortable :first_name, prefix: prefix
          %th= sortable :last_name, prefix: prefix
          %th= sortable :location, prefix: prefix
          %th= sortable :last_requested_at, title: "Requests", prefix: prefix
      %tbody
        - rows.each do |user|
          %tr.order.link{ "data-link" => new_user_response_path(user) }
            %td= user.first_name
            %td= user.last_name
            %td= user.location
            %td= render partial: "partials/group", locals: { user: user, orders: user.orders.without_responses }
  - else
    .well
      No orders
