- anchor = label.downcase.gsub /\s/,'-'
%div{ id: anchor }
  = title do
    = label
  - if rows.any?
    = render partial: "partials/pager",
      locals: { anchor: anchor, pager: rows, page_param: page_param }
    %table.table.table-striped.table-hover
      %thead
        %tr
          %th First Name
          %th Last Name
          %th Location
          %th Requests
      %tbody
        - rows.each do |user|
          %tr.order.link{ "data-link" => new_user_response_path(user) }
            %td= user.first_name
            %td= user.last_name
            %td= user.location
            %td= render partial: "partials/group", locals: { user: user, orders: user.orders }
  - else
    .well
      No orders
