%h2 Request History
%table(class="table.table--bordered.table--striped.table--linked" id="orders")
  %thead
    - if current_user.try(:pcmo?) || current_user.try(:admin?)
      %select{ :name => "Previous Month" }
        %option{:value => 1}= "Current Month"
        %option{:value => 2}= "Previous Month"
        %option{:value => 3}= "Last 3 Months"
        %option{:value => 4}= "Last 6 Months"
        %option{:value => 5}= "1 year"
    %tr
      - if current_user.try(:pcmo?) || current_user.try(:admin?)
        %th First Name
        %th Last Name
        %th PCVID
      %th Supply
      %th Unit
      %th Quantity
      - if current_user.try(:pcmo?) || current_user.try(:admin?)
        %th Location
      %th Requested
      %th Response
      - if current_user.try(:pcmo?) || current_user.try(:admin?)
        %th Fulfilled
        %th
          - if current_user.pcv?
            = link_to new_order_path, class: "btn btn--primary" do
              Order
              %i.icon-file
  %tbody
    - @orders.each do |order|
      - next if order.fulfilled?
      %tr
        - if current_user.try(:pcmo?) || current_user.try(:admin?)
          %td= order.user.first_name
          %td= order.user.last_name
          %td= order.user.pcv_id
        %td= order.supply
        %td= order.unit
        %td= order.quantity
        - if current_user.try(:pcmo?) || current_user.try(:admin?)
          %td
            %span.cell--primary= order.location
          %td
            %span= order.created_at.strftime '%-m/%-d/%y'
            %small.cell--secondary= order.created_at.strftime '%H:%M'
        %td ___
        %td ___
        %td.cell--arrow
          %i.icon-caret-right

