%h2 Request History
%table#orders.table.table-bordered.js-striped.table-hover
  %thead
    %tr
      - if current_user.pcmo? || current_user.admin?
        %th First Name
        %th Last Name
        %th PCVID
      %th Supply
      %th Unit
      %th Quantity
      - if current_user.pcmo? || current_user.admin?
        %th Location
      %th Requested
      %th Response
      - if current_user.pcmo? || current_user.admin?
        %th Fulfilled
  %tbody
    - @orders.each do |order|
      %tr{ "class" => "order c#{order.country_id}", "data-date" => order.created_at.in_time_zone(order.user.time_zone).strftime("%Y%m%d") }
        - if current_user.pcmo? || current_user.admin?
          %td= order.user.first_name
          %td= order.user.last_name
          %td= order.user.pcv_id
        %td= order.supply
        %td= order.unit
        %td= order.quantity
        - if current_user.pcmo? || current_user.admin?
          %td
            %span.cell--primary= order.location
        %td
          %span= order.created_at.in_time_zone(order.user.time_zone).strftime '%-m/%-d/%y'
          %small.cell--secondary= order.created_at.in_time_zone(order.user.time_zone).strftime '%H:%M'
        %td= order.responded_at.in_time_zone(order.user.time_zone).strftime '%-m/%-d/%y' if order.responded_at
        %td= order.fulfilled_at.in_time_zone(order.user.time_zone).strftime '%-m/%-d/%y' if order.fulfilled_at

