#request-history
  %h2 Request History
  = render partial: "partials/pager", locals: { anchor: "request-history", pager: @orders }
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th Supply
        %th Instructions
        %th Requested
        %th Response
    %tbody
      - @orders.each do |order|
        %tr.order
          %td= order.supply.name
          - if order.request_id == @_last
            %td "
            %td "
          - else
            %td= order.request.text
            %td
              %span= short_date order.created_at.in_time_zone(order.user.time_zone)
              %small= order.created_at.in_time_zone(order.user.time_zone).strftime '%H:%M'
          %td= short_date(order.responded_at.in_time_zone order.user.time_zone) if order.responded_at
        - @_last = order.request_id
