%table(class="table.table--bordered.table--striped.table--linked" id="orders")
  %thead
    %tr
      %th First Name
      %th Last Name
      %th PCVID
      %th Supply
      %th Unit
      %th Quantity
      %th Location
      %th Requested
      %th Response
      %th Fulfilled
      %th
        - if current_user.pcv?
          = link_to new_order_path, class: "btn btn--primary" do
            Order
            %i.icon-file
  %tbody
    - @orders.each do |order|
      - next if order.fulfilled?
      %tr(data-link="#{edit_order_path order}")
        %td= order.user.first_name
        %td= order.user.last_name
        %td= order.user.pcv_id
        %td= order.supply
        %td= order.unit
        %td= order.quantity
        %td
          %span.cell--primary= order.location 
        %td
          %span= order.created_at.strftime '%-m/%-d/%y'
          %small.cell--secondary= order.created_at.strftime '%H:%M'
        %td TBD
        %td 
        %td.cell--arrow
          %i.icon-caret-right

