%table.table.table--bordered.table--striped.table--linked
  %thead
    %tr
      %th Requester
      %th Request Date
      %th Location
      %th Requested Supplies
      %th
        - if current_user.pcv?
          = link_to new_order_path, class: "btn btn--primary" do
            Order
            %i.icon-file
  %tbody
    - @orders.each do |order|
      - next if order.fulfilled?
      %tr(data-link="#{edit_order_path order}")
        %td
          %span.cell--primary= order.user.name
          %small.cell--secondary= order.user.pcv_id
        %td
          %span= order.created_at.strftime '%-m/%-d/%y'
          %small.cell--secondary= order.created_at.strftime '%H:%M'
        %td
          %span.cell--primary= order.user.city
        %td= order.supply
        %td.cell--arrow
          %i.icon-caret-right

