= content_for :page_title do
  Request History

= render partial: "partials/pager", locals: { table: @requests }

- @requests.each do |request|
  .request
    - if request.orders.any?
      %table.table.table-striped.table-hover
        %thead
          %tr
            %th{ colspan: 2 }
              = short_date request.created_at, request.user.time_zone
              %small #{time_ago_in_words request.created_at} ago
            %th
              .btn-group
                = link_to mark_received_request_path(request), class: "btn btn-default", title: "Mark all as received", method: :post do
                  = icon :ok
                = link_to flag_request_path(request), class: "btn btn-default", title: "Flag all for follow-up", method: :post do
                  = icon :flag
        %tbody
          - request.orders.each do |order|
            %tr
              %td= order.supply.name
              %td
                - if order.response_id
                  = order.delivery_method.try :title
                  %small= "#{time_ago_in_words order.responded_at} ago"
              %td
                .btn-group
                  = link_to mark_received_order_path(order), class: "btn btn-#{order.received? ? 'success' : 'default'}", title: "Mark as received", method: :post do
                    = icon "ok"
                  = link_to flag_order_path(order), class: "btn btn-#{order.flagged? ? 'danger' : 'default'}", title: "Flag for follow-up", method: :post do
                    = icon "flag"
    %p= request.text
