%h2 Request Manager

%h3 Past Due Requests

%table(class="table.table--bordered.table--striped.table--linked" id="past-due-orders")
  %thead
    %tr
      %th PCVID
      %th First Name
      %th Last Name
      %th Supply
      %th Unit
      %th Quantity
      %th Location
      %th Request
  %tbody
    - @orders.each do |order|
      - next if order.fulfilled?
      - next if 3.business_days.before(Time.now).strftime("%s").to_i < (order.created_at.strftime("%s").to_i + (24*60*60))
      %tr(data-link="#{edit_order_path order}")
        %td= order.user.pcv_id
        %td= order.user.first_name
        %td= order.user.last_name
        %td= order.supply
        %td= order.unit
        %td= order.quantity
        %td
          %span.cell--primary= order.location 
        %td
          %span= order.created_at.strftime '%-m/%-d/%y'
          %small.cell--secondary= order.created_at.strftime '%H:%M'

%h3 Pending Requests

%table(class="table.table--bordered.table--striped.table--linked" id="pending-orders")
  %thead
    %tr
      %th PCVID
      %th First Name
      %th Last Name
      %th Supply
      %th Unit
      %th Quantity
      %th Location
      %th Request
  %tbody
    - @orders.each do |order|
      - next if order.fulfilled?
      - next if 3.business_days.before(Time.now).strftime("%s").to_i >= (order.created_at.strftime("%s").to_i + (24*60*60))
      %tr(data-link="#{edit_order_path order}")
        %td= order.user.pcv_id
        %td= order.user.first_name
        %td= order.user.last_name
        %td= order.supply
        %td= order.unit
        %td= order.quantity
        %td
          %span.cell--primary= order.location 
        %td
          %span= order.created_at.strftime '%-m/%-d/%y'
          %small.cell--secondary= order.created_at.strftime '%H:%M'

%h3 Response Tracker

%table(class="table.table--bordered.table--striped.table--linked" id="responded-orders")
  %thead
    %tr
      %th PCVID
      %th First Name
      %th Last Name
      %th Supply
      %th Unit
      %th Quantity
      %th Location
      %th Request
      %th Response
      %th Fulfilled
      %th Received
  %tbody
    - @orders.each do |order|
      - next unless order.fulfilled?
      %tr(data-link="#{edit_order_path order}")
        %td= order.user.pcv_id
        %td= order.user.first_name
        %td= order.user.last_name
        %td= order.supply
        %td= order.unit
        %td= order.quantity
        %td
          %span.cell--primary= order.location 
        %td
          %span= order.created_at.strftime '%-m/%-d/%y'
          %small.cell--secondary= order.created_at.strftime '%H:%M'
        / FIXME: Next line is wrong (need order.responded_at timestamp)
        %td= order.updated_at.strftime '%-m/%-d/%y'
        %td 
        %td 
