= content_for :page_title do
  Request Manager
  = link_to "Place a Request", new_request_path, class: "btn btn-default btn-mini"

- if current_user.admin?
  = render partial: "partials/admin_country_select"
  %hr

- if active_country?
  = render partial: "table", locals: { title: "Past Due Requests", rows: @past_due,  table: "request_table", page_param: "past_due_page" }
  = render partial: "table", locals: { title: "Pending Requests",  rows: @pending,   table: "request_table", page_param: "pending_page" }
  = render partial: "table", locals: { title: "Response Tracker",  rows: @responses, table: "response_table", page_param: "response_page" }

:javascript
  $("tr[data-link]").click(function() { window.location = $(this).data("link"); });
