%h1= current_user.pcv? ? "Request Form" : "Place an Order"

= form_for @order, html: {class: 'form--order'} do |f|
  = render partial: 'partials/errors', locals: {object: @order}

  .form__section
    .input-group
      - if current_user.pcv?
        %h2
          = current_user.name
          %small= current_user.pcv_id
        = f.hidden_field :user_id, value: current_user.id
      - else
        = f.select(:user_id, [['Select Volunteer to request for', '']] + current_user.pcvs.map { |u| [u.name, u.id] }, {}, class: 'form-control input-sm')
      %hr

    .row
      .col-md-4
        .select.select--full
          = f.select(:supply_id, [['Select Supply', '']] + Supply.choices, {}, class: 'form-control input-sm')
          %i.icon-caret-down.select__arrow

        = f.text_field :location, placeholder: 'Location', class: 'form-control input-sm'

        = f.text_field :quantity, placeholder: 'Quantity', class: 'form-control input-sm'

        = f.text_field :dose, placeholder: 'Dose', class: 'form-control input-sm'

        = f.text_area :extra, placeholder: 'Special instructions area', rows: 3, class: 'form-control input-sm'

        .form-actions
          .btn-group
            %button.btn.btn-primary(type="submit") Submit
