- r = response
- if r.archived?
  = form_tag user_response_unarchive_path(r.user, r, redir_params) do
    %button.btn.btn-danger{ "id" => "unarchive-#{r.id}" }
      = icon :open
      Unarchive
- else
  = form_tag user_response_archive_path(r.user, r, redir_params) do
    %button.btn.btn-default{ "id" => "archive-#{r.id}" }
      = icon :save
      Archive
