= form_for response, url: user_responses_path(user, response) do |f|
  %table.table.table-hover
    %thead
      %tr
        %th
        %th
        %th
        - DeliveryMethod.each do |method|
          %th.delivery-method{ "data-method" => method.name }= method.title
    %tbody
      - orders.group_by(&:request).each do |req, os|
        - os.each_with_index do |order,i|
          %tr{ "class" => (order.duplicated_at ? "duplicated" : "") }
            - if i.zero?
              %td.ts{rowspan: os.length}= req.created_at.strftime '%-m/%-d'
              %td.ts{rowspan: os.length}= req.text
            %td= order.supply.name
            - if order.duplicated_at
              %td{ "colspan" => DeliveryMethod.count }
                = "Updated on #{order.duplicated_at.strftime '%-m/%-d'}"
            - else
              - DeliveryMethod.each do |method|
                %td= radio_button_tag "orders[#{order.id}][delivery_method]", method.name

  %span.order__characters "160 characters remaining"
  .order__instructions
    = f.text_area :extra_text, size: "40x4", maxlength: 160, class: 'input-xlarge', placeholder: "Extra information (e.g. delivery date, pickup instructions)"

  .form-actions
    .btn-group
      %button.btn.btn-primary(type="submit") Send Response


:javascript
  $(function() {
    // Click a column header to select the column
    $('.delivery-method').click(function() {
      var val = $(this).data("method");
      $('#new_response :radio[value='+ val +']').prop('checked', true);
    });

    // Update 'characters remaining' count
    var remaining = $(".order__characters")
      , instructions = $(".order__instructions textarea");
    instructions.keyup(function() {
        var count = 160 - instructions.val().length;
        remaining.text(count + " characters remaining");
    }).keyup();
  })
