= form_for response, url: user_responses_path(user, response) do |f|
  %table.table.table-hover
    %thead
      %tr
        %th
        %th
        %th
        - DeliveryMethod.each do |method|
          %th.delivery-method{ "data-method" => method.name }= method.title
    %tbody
      - orders.group_by(&:request).each do |req, os|
        - os.each_with_index do |order,i|
          %tr{ "class" => (order.duplicated_at ? "duplicated" : "") }
            - if i.zero?
              %td.ts{rowspan: os.length}= req.created_at.strftime '%-m/%-d'
              %td.ts{rowspan: os.length}= req.text
            %td= order.supply.name
            - if order.duplicated_at
              %td.duplicate-order{colspan: DeliveryMethod.count}
                Updated on #{order.duplicated_at.strftime '%-m/%-d'}
            - else
              - DeliveryMethod.each do |method|
                %td= radio_button_tag "orders[#{order.id}][delivery_method]", method.name

  .form-group
    = f.text_area :extra_text,
      size:        "40x4",
      maxlength:   160,
      class:       "form-control input-xlarge",
      placeholder: "Extra information (e.g. delivery date, pickup instructions)"

  .form-actions
    %button.btn.btn-primary(type="submit") Send Response
    %button.btn.btn-default.clear-radios(style="display:none") Reset Selections


:javascript
  $(function() {
    // Click a column header to select the column
    $('.delivery-method').click(function() {
      var val = $(this).data("method");
      $('#new_response :radio[value='+ val +']').prop('checked', true);
    });

    // Deselect radio buttons
    $('.clear-radios').show().click(function() {
      $('#new_response :radio').prop('checked', false);
      return false;
    });
  })
