%thead
  %tr
    %th First Name
    %th Last Name
    %th Location
    %th Requests
    %th
%tbody
  - rows.each do |r|
    %tr.order.link{ "data-link" => user_response_path(r.user, r) }
      %td= r.user.first_name
      %td= r.user.last_name
      %td= r.user.location
      %td= render partial: "partials/group", locals: { user: r.user, orders: r.orders }
      %td= render partial: "archive_button", locals: { response: r }
