%thead
  %tr
    %th= sortable :first_name
    %th= sortable :last_name
    %th= sortable :location
    %th= sortable :waiting_since, title: "Requests"
    %th
%tbody
  - rows.each do |r|
    %tr.order.link{ "data-link" => user_response_path(r.user, r) }
      %td= r.user.first_name
      %td= r.user.last_name
      %td= r.user.location
      %td= render partial: "partials/group", locals: { user: r.user, orders: r.orders }
      %td= render partial: "archive_button", locals: { response: r }
