%thead
  %tr
    %th= sortable_header(table, :first_name)
    %th= sortable_header(table, :last_name)
    %th= sortable_header(table, :location)
    %th Phone
    %th= sortable_header(table, :last_requested_at, title: "Requests")
    %th
%tbody
  - table.each do |r|
    %tr.order.link{ "data-link" => user_response_path(r.user, r) }
      %td= r.user.first_name
      %td= r.user.last_name
      %td= r.user.location
      %td= phone_link r.user.primary_phone
      %td
        - groups = r.orders.group_by(&:request_id).sort_by { |_, os| os.first.created_at }.reverse
        - groups.each do |_, orders|
          %table.table
            %thead
              %tr
                %th{ colspan: 2 }
                  - time = orders.first.created_at.in_time_zone r.user.time_zone
                  = short_date time
                  %small= time.strftime "%H:%M"
            %tbody
              - orders.each do |order|
                %tr{ class: order.flagged? ? "danger" : "" }
                  %td= order.supply.name
                  %td= order_status order
      %td
        = link_to timeline_user_path(r.user), class: "btn btn-default" do
          = icon :search
          History
        = render partial: "archive_button", locals: { response: r }
