%thead
  %tr
    %th
    %th= sortable_header(table, :first_name)
    %th= sortable_header(table, :last_name)
    %th= sortable_header(table, :location)
    %th= sortable_header(table, :email)
    %th Phone
    %th= sortable_header(table, :last_requested_at, title: "Requests")
    %th
%tbody
  - table.each do |r|
    %tr.order.link{ "data-link" => user_response_path(r.user, r), class: r.flagged? ? "danger" : "" }
      %td
        - if r.flagged?
          = icon :flag, class: :danger
      %td= r.user.first_name
      %td= r.user.last_name
      %td= r.user.location
      %td= link_to r.user.email, "mailto:#{r.user.email}"
      %td= phone_link r.user.primary_phone
      %td
        - groups = r.orders.group_by(&:request_id).sort_by { |_, os| os.first.created_at }.reverse
        - groups.each do |_, orders|
          %table.table
            %thead
              %tr
                %th{ colspan: 2 }
                  - time = orders.first.created_at.in_time_zone r.user.time_zone
                  = short_date time
                  %small= time.strftime "%H:%M"
            %tbody
              - orders.each do |order|
                %tr
                  %td= order.supply.name
                  %td= order_status order
      %td
        .btn-group-vertical
          = render partial: "action_buttons", locals: { response: r }
