.order-back
  = link_to manage_orders_path do
    = icon "chevron-left"
    %span Back to all Orders

  %p
  = render partial: 'partials/errors', locals: {object: @response}

.order
  %h1= @user.name
  %p
    = icon "globe"
    = "#{@user.location}, #{@user.country.name}"
    &nbsp;
    = icon "phone-alt"
    = @user.primary_phone ? @user.primary_phone.display : '-'

  = form_for @response, url: user_responses_path(@user, @response), html: {class: 'order__section'} do |f|
    %table.table.table-hover
      %thead
        %tr
          %th
          %th
          - DeliveryMethod.each do |method|
            %th= method.title
      %tbody
        - @orders.group_by { |o| o.created_at.strftime '%-m/%-d/%y' }.each do |ts, os|
          - os.each_with_index do |order,i|
            %tr
              - if i.zero?
                %td.ts{rowspan: os.length}= ts
              %td= order.supply.name
              - DeliveryMethod.each do |method|
                %td
                  = radio_button_tag "orders[#{order.id}][delivery_method]", method.name

    %span.order__characters "160 characters remaining"
    .order__instructions
      = f.text_area :extra_text, size: "40x4", maxlength: 160, class: 'input-xlarge', placeholder: "Extra information (e.g. delivery date, pickup instructions)"

    .form-actions
      .btn-group
        %button.btn.btn-primary(type="submit") Send Response

%hr

%h2
  Past Orders
  %small
    for
    = @user.first_name
= render partial: "partials/pager", locals: { anchor: "order-history", pager: @history }

%table.table.table-striped.table-hover
  %thead
    %tr
      %th Date
      %th Supply
      %th
  - @history.each do |o|
    %tr
      %td
        - if @last_date.to_i != o.created_at.to_i
          = @last_date = o.created_at
      %td= o.supply
      %td
        - if o.denied?
          = icon :remove
        - else
          = icon :ok
