.order-back
  = link_to responses_path do
    = icon "chevron-left"
    %span Back to Response Tracker

.order
  %h1= @user.name
  %p
    = icon "globe"
    = "#{@user.location}, #{@user.country.name}"
    &nbsp;
    = icon "phone-alt"
    = @user.primary_phone ? @user.primary_phone.number : '-'

  %table.table.table-hover
    %thead
      %tr
        %th
        %th
        %th
        - DeliveryMethod.each do |method|
          %th= method.title
    %tbody
      - @response.orders.includes(:request).group_by { |o| o.request }.each do |req, os|
        - os.each_with_index do |order,i|
          %tr
            - if i.zero?
              %td.ts{rowspan: os.length}= req.created_at.strftime '%-m/%-d'
              %td{rowspan: os.length}= req.text
            %td= order.supply.name
            - if order.duplicated_at
              %td.duplicate-order{colspan: DeliveryMethod.count }
                Updated on #{order.duplicated_at.strftime '%-m/%-d'}
            - else
              - DeliveryMethod.each do |method|
                %td
                  - if order.delivery_method == method
                    - if order.denied?
                      = icon :remove, class: "danger"
                    - else
                      = icon :ok, class: "success"

  - if @response.extra_text
    .well
      = @response.extra_text
