= back_link "Back to Response Tracker", responses_path

.order
  = render partial: "user_detail", locals: { user: @user }

  %table.table.table-hover
    %thead
      %tr
        %th
        %th
        %th
        - DeliveryMethod.each do |method|
          %th= method.title
    %tbody
      - @response.orders.includes(:request, :supply).group_by { |o| o.request }.each do |req, os|
        - os.each_with_index do |order,i|
          %tr
            - if i.zero?
              %td.ts{rowspan: os.length}= req.created_at.strftime '%-m/%-d'
              %td{rowspan: os.length}= req.text
            %td= order.supply.name
            - if order.duplicated_at
              %td.duplicate-order{colspan: DeliveryMethod.count }
                Updated on #{order.duplicated_at.strftime '%-m/%-d'}
            - else
              - DeliveryMethod.each do |method|
                %td
                  - if order.delivery_method == method
                    - if order.denied?
                      = icon :remove, class: "danger"
                    - else
                      = icon :ok, class: "success"

  - if @response.extra_text.present?
    .well
      = @response.extra_text

= render partial: "archive_button", locals: { response: @response }
