= link_to "Add New Supply", new_supply_path, class: "btn btn-default"

%table.table.table-striped.table-linked.table-condensed
  %thead
    %tr
      %th Name
      %th Short Code
      %th
  %tbody
    - @supplies.each do |supply|
      %tr{ class: supply.orderable? ? "" : "danger" }
        %td
          -if supply.orderable
            = supply.name
          -else
            %s= supply.name
        %td
          %span= supply.shortcode
        %td
          - if supply.orderable?
            = button_to toggle_orderable_supply_path(supply), method: :patch, class: "btn btn-danger" do
              = icon :remove
          - else
            = button_to toggle_orderable_supply_path(supply), method: :patch, class: "btn btn-default" do
              = icon :ok
