- if request.orders.any?
  %table.table.table-striped.table-hover.table-condensed
    %tbody
      - request.orders.each do |order|
        %tr
          %td= order.supply.name
          %td
            - if order.response_id
              = link_to "#response-#{order.response_id}" do
                = order.delivery_method.try :title
                %small= "#{time_ago_in_words order.responded_at} ago"
- if request.text.present?
  %pre= request.text
