- url = action == :edit ? admin_user_path(user) : admin_users_path
= form_for user, url: url, id: 'user-form' do |f|
  = render partial: 'partials/errors', locals: {object: user}

  .row
    .col-left
      = f.text_field :first_name, placeholder: 'First Name'
      = f.text_field :last_name, placeholder: 'Last Name'
      = f.text_field :location, placeholder: 'Address / location'
      = f.select :country_id, Country.choices, include_blank: 'Country'
      = f.phone_field :phone, placeholder: 'Phone Number'
      = f.email_field :email, placeholder: 'Email'
    .col-right
      / FIXME? Password? -- Need more words.
      = f.text_field :pcv_id, placeholder: 'PCV ID'
      = f.select :role, User::Roles.invert , include_blank: 'Assign Role'
      = f.select :pcmo_id, User.pcmos_by_country, include_blank: 'PCMO'

      .btn-group
        %button.btn.btn--primary(type="submit")
          = action.capitalize
