- url = action == :edit ? admin_user_path(user) : admin_users_path
- user.phones.new # Ensure we display a blank field

= bootstrap_nested_form_for user, url: url do |f|
  = render partial: 'partials/errors', locals: {object: user}

  %fieldset
    = f.text_field :first_name
    = f.text_field :last_name
    = f.text_field :location, label: "Address / location"
    = f.collection_select :country_id, Country.all, :id, :name, {include_blank: true}, label: "Country"
    = f.email_field :email
    = f.collection_select :time_zone, ActiveSupport::TimeZone.all, :name, :to_s, include_blank: true
    = f.text_field :pcv_id, label: "PCV ID"
    = f.select :role, User.role_names, include_blank: 'Assign Role'

    = render partial: "partials/phone_form.html.haml", locals: { form: f }

    %button.btn.btn-primary(type="submit")
      = user.persisted? ? "Save User" : "Add User"
