- url = action == :edit ? admin_user_path(user) : admin_users_path
= form_for user, url: url, id: 'user-form' do |f|
  = render partial: 'partials/errors', locals: {object: user}

  .row
    .span4
      = f.text_field :first_name, placeholder: 'First Name', class: 'input-xlarge'
      = f.text_field :last_name, placeholder: 'Last Name', class: 'input-xlarge'
      = f.text_field :location, placeholder: 'Address / location', class: 'input-xlarge'
      = f.select :country_id, Country.choices, {include_blank: 'Country'}, class: 'input-xlarge'
      = f.phone_field :phone, placeholder: 'Phone Number', class: 'input-xlarge'
      = f.email_field :email, placeholder: 'Email', class: 'input-xlarge'
    .span4
      / FIXME? Password? -- Need more words.
      = f.text_field :pcv_id, placeholder: 'PCV ID', class: 'input-xlarge'
      = f.select :role, User::Roles.invert , {include_blank: 'Assign Role'}, class: 'input-xlarge'
      = f.select :pcmo_id, User.pcmos_by_country, {include_blank: 'PCMO'}, class: 'input-xlarge'


  .form-actions
    .btn-group
      %button.btn.btn-primary(type="submit")
        = action.capitalize

