- url = action == :edit ? admin_user_path(user) : admin_users_path
= nested_form_for user, url: url, id: 'user-form' do |f|
  = render partial: 'partials/errors', locals: {object: user}

  .row
    .col-md-4
      = f.text_field :first_name, placeholder: 'First Name', class: 'form-control input-sm'
      = f.text_field :last_name, placeholder: 'Last Name', class: 'form-control input-sm'
      = f.text_field :location, placeholder: 'Address / location', class: 'form-control input-sm'
      = f.select :country_id, Country.choices, {include_blank: 'Country'}, class: 'form-control input-sm'
      = f.email_field :email, placeholder: 'Email', class: 'form-control input-sm'
      = f.select :time_zone, ActiveSupport::TimeZone.all.map {|t| [t,t.name]}, {include_blank: 'Time Zone'}, class: 'form-control input-sm'
      = f.fields_for :phones do |phone_form|
        = phone_form.link_to_remove class: "btn btn-danger" do
          = icon :remove
        = phone_form.text_field :number, placeholder: 'Phone number', class: 'form-control input-sm'
      = f.link_to_add :phones, class: "btn btn-success" do
        = icon :plus
    .col-md-4.col-md-offset-1
      / FIXME? Password? -- Need more words.
      = f.text_field :pcv_id, placeholder: 'PCV ID', class: 'form-control input-sm'
      = f.select :role, User.roles.map { |r,_| [r.capitalize, r] }, {include_blank: 'Assign Role'}, class: 'form-control input-sm'
      = f.select :pcmo_id, User.pcmos_by_country, {include_blank: 'PCMO'}, class: 'form-control input-sm'
      .form-actions
        .btn-group
          %button.btn.btn-primary(type="submit")
            = action == :edit ? "Save" : "Add"
