- url = action == :edit ? admin_user_path(user) : admin_users_path
- user.phones.new # Ensure we display a blank field

= nested_form_for user, url: url do |f|
  = render partial: 'partials/errors', locals: {object: user}

  %fieldset
    - inputs f do |i|
      = i.text_field :first_name
      = i.text_field :last_name
      = i.text_field :location, label: "Address / location"
      = i.select :country_id, Country.choices, {include_blank: true}, {label: "Country"}
      = i.email_field :email
      = i.select :time_zone,
        ActiveSupport::TimeZone.all.map { |t| [t, t.name] },
        { include_blank: true }, {}
      = i.text_field :pcv_id, label: "PCV ID"
      = i.select :role,
        User.role_names,
        {include_blank: 'Assign Role'}, {}

      .form-group
        %label
          Phones
          = f.link_to_add :phones, data: { target: "#phone-fields" } do
            = icon :plus
        #phone-fields
          = f.fields_for :phones do |phone_form|
            .input-group
              = phone_form.text_field :number,
                placeholder: 'Phone number',
                class:       'form-control'
              %span.input-group-btn
                = phone_form.link_to_remove class: "btn btn-danger" do
                  = icon :remove

    %button.btn.btn-primary(type="submit")
      = action == :edit ? "Save User" : "Add User"
