= form_tag({action: :upload_csv}, multipart: true) do
  %fieldset
    .form-group
      %label(for="csv") File
      = file_field_tag "csv", accept: "text/csv", class: "form-control"

    .form-group
      %label(for="country_id") Country
      = select_tag "country_id",
        options_for_select(Country.choices),
        {include_blank: true, class: "form-control"}

    .form-group
      %label
        = check_box_tag 'overwrite', 1
        Overwrite Existing Users For Duplicate Entries

    = submit_tag 'Upload CSV', class: 'btn btn-primary'
