.alert.alert-danger
  %h2 Upload Error
  %p #{pluralize upload.added.count, "user"} uploaded
  %p #{pluralize upload.errors.count, "error"} encountered

  - if upload.global_errors.any?
    %ul
      - upload.global_errors.each do |e|
        %li= e.message

  - if upload.row_errors.any?
    %table.table.table-condensed
      %thead
        %tr
          %th Error
          - upload.headers.each do |h|
            %th= h
      %tbody
        - upload.row_errors.each do |row, error|
          %td= error
          - upload.headers.each do |h|
            %td= row[h]
