%h1 Edit Account
- if current_user.try(:admin?)
  %select{ :name => "Select Volunteer to request for" }
    %option{:value => 0}= "Select Volunteer to edit"
    %option{:value => 1}= "Volunteer 1"
    %option{:value => 2}= "Volunteer 2"
    %option{:value => 3}= "Volunteer 3"
    %option{:value => 4}= "Volunteer 4"
    %option{:value => 5}= "Volunteer 5"
  %hr

= render partial: 'form', locals: {user: @user, action: :edit}
