%h1 Add User
= render partial: 'form', locals: {user: @user, action: :add}

%h1 Add Users From CSV
= form_tag({:action => "uploadCSV"},:multipart => true) do 
  = file_field_tag 'csv', :accept => 'text/csv'
  = submit_tag 'Upload CSV'


%h1 Edit Account
= form_tag admin_users_path, class: 'form-search' do
  = select_tag :edit_user, grouped_options_for_select(@users), prompt: 'Select Volunteer to edit'
  %button.btn.btn-primary(type="submit") Edit

