= content_for :page_title do
  User Management

.row
  .col-md-6
    = title do
      Add
    = render partial: 'form', locals: { user: @user, action: :add }

  .col-md-5
    = title do
      Edit
    = render partial: "edit_widget", locals: { selected: nil }

    = title do
      Bulk Upload
    = render partial: 'upload_csv_form', locals: { upload: @upload }
