= render partial: 'upload_csv_form', locals: { upload: @upload }

- if @upload.global_errors.any?
  .alert.alert-danger
    %ul
      - @upload.global_errors.each do |err|
        %li= err

%table.table.table-hover.upload-csv
  %thead
    %tr
      - @upload.headers.each do |header|
        %th{class: header.errors ? "has-error" : ""}
          = header.value
          - if header.errors
            .help-block= header.errors.to_sentence

  %tbody
    - @upload.rows.each do |row|
      %tr
        - row.each do |cell|
          %td{class: cell.errors ? "has-error" : ""}
            = cell.value
            - if cell.errors
              .help-block= cell.errors.to_sentence

