= content_for :page_title do
  Reports

= title do
  Available Reports

%p Each link below downloads a .csv file that contains all the data from the launch of the site to the present day

.row
  .col-md-6
    %table.table.table-hover
      %thead
        %tr
          %th
          %th Description
      %tbody
        - if current_user.admin?
          %tr
            %td
              = link_to users_reports_path(format: :csv), class: "btn btn-primary" do
                = icon :download
                Users
            %td Users and their information
          %tr
            %td
              = link_to pcmo_response_times_reports_path(format: :csv), class: "btn btn-primary" do
                = icon :download
                Responses
            %td A summary of PCMO response times
        %tr
          %td
            = link_to order_history_reports_path(format: :csv), class: "btn btn-primary" do
              = icon :download
              Order History
          %td All past and current orders
