= link_to 'Request History', request_history_reports_path(format: :csv), class: "btn btn--primary"
= link_to 'Fulfillment History', fulfillment_history_reports_path(format: :csv), class: "btn btn--primary"
= link_to 'Supply History', supply_history_reports_path(format: :csv), class: "btn btn--primary"
= link_to 'Recent Adds', recent_adds_reports_path(format: :csv), class: "btn btn--primary"
= link_to 'Recent Edits', recent_edits_reports_path(format: :csv), class: "btn btn--primary"
= link_to 'PCMO Response Times', pcmo_response_times_reports_path(format: :csv), class: "btn btn--primary"
