!!! 5
%html(lang="en" id="ng-app" ng-app="medSupplies")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "PC Medlink"
    = csrf_meta_tags
    = stylesheet_link_tag "application", :media => "all"
    /[if lt IE 8]
      = stylesheet_link_tag "font-awesome-ie7.min.css", media: "all"


  %body
    .flash
      - flash.each do |name, msg|
        %div(class="alert alert-#{name}")
          = msg
      %div.flash__message.alert(ng-cloak ng-repeat="message in flash track by $index") {{message}}

.l-wrapper
  %header.l-sidebar
    .l-sidebar__inner
      = link_to image_tag("/logo.png", id: 'brand'), root_path, target: '_self'
      %hgroup
        %h1 Peace Corps
        %h4 Medical Supplies
        %span.badge(ng-show="current_user.country" ng-cloak) {{current_user.country.name | lowercase}}
  %div.l-main
    .l-header
      %nav
        .dropdown
          %a(ng-click="open = !open")
            %i.icon-cog
          %ul.nav.nav--dropdown(ng-class="{'is-active': open}")
            / %li
            /   %a(href="#") About
            /   = link_to 'About', about_path, target: '_self'
            %li
              = link_to 'Change Password', '#/users/edit'
            %li
              /%a(href="#") Help
              = link_to 'Help', '#/help'
            %li
              %a(href="#/users/sign_out") Logout
    %section(ng-view)

    = yield

    = javascript_include_tag "application"
