!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "PC Medlink"
    = csrf_meta_tags
    = stylesheet_link_tag "application", :media => "all"
    /[if lt IE 8]
      = stylesheet_link_tag "font-awesome-ie7.min.css", media: "all"

  %body
    .flash
      - flash.each do |name, msg|
        .flash__message.alert
          = msg
    .l-wrapper
      %header.l-sidebar
        .l-sidebar__inner
          = link_to image_tag("/logo.png", id: 'brand'), root_path
          %hgroup
            %h1 Peace Corps
            %h4 Medical Supplies
            - if current_user
              %span.badge= current_user.country.name.downcase
      %div.l-main
        = render 'partials/global_nav'
        .l-header
          %nav
            .dropdown
              %a
                %i.icon-cog
              %ul.nav.nav--dropdown
                - if current_user.try :pcv?
                  %li= link_to 'Request Supply', new_order_path
                %li= link_to 'Request History', orders_path
                %li= link_to 'Change Password', edit_user_registration_path
                %li= link_to 'Help', help_path
                %li= link_to 'Log out', destroy_user_session_path, method: :delete
        %section
          = yield

    = javascript_include_tag "application"
