!!! 5
%html(lang="en" id="ng-app" ng-app="medSupplies")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "PC Medical Supplies"
    = csrf_meta_tags
    = stylesheet_link_tag "application", :media => "all"
    /[if lt IE 8]
      = stylesheet_link_tag "font-awesome-ie7.min.css", media: "all"


  %body
    .flash
      - flash.each do |name, msg|
        %div(class="alert alert-#{name}")
          = msg

    = yield

    = javascript_include_tag "application"
    %script{type: "text/ng-template", id: "order_list.html"}
      %table.table.table--striped.table--linked
        %thead
          %tr
            %th Requester
            %th Request Date
            %th Location
            %th Requested Supplies
            %th
        %tbody
          %tr(ng-repeat="order in orders")
            %td
              %span.cell--primary {{order.user.firstName}} {{order.user.lastName}}
              %small.cell--secondary 5555555
            %td
              %span {{order.createdAt | date:'shortDate'}}
              %small.cell--secondary {{order.createdAt | date:'HH:mm'}}
            %td
              %span.cell--primary City
            %td 
            %td.cell--arrow
              %i.icon-caret-right

