!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")

    %link{:href=>"//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css", :rel=>"stylesheet"}
    %link{:href=>"//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.min.css", :rel=>"stylesheet"}

    = javascript_include_tag "application"
    %script{:src=>"//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"}

    %title= content_for?(:title) ? yield(:title) : "PC Medlink"
    = csrf_meta_tags
    = stylesheet_link_tag "application", :media => "all"
    /[if lt IE 8]
      = stylesheet_link_tag "font-awesome-ie7.min.css", media: "all"

  %body
    .container
      .flash
        - flash.each do |name, msg|
          .flash__message.alert
            = msg
      .row
        .span3
          = link_to image_tag("/logo.png", id: 'brand'), root_path
          %hgroup
            %h1 Peace Corps
            %h4 Medical Supplies
            - if current_user
              %span.badge= current_user.country.name.downcase
        .span9
          %nav
            = render 'partials/global_nav'
          %section
            = yield

