= render 'partials/order_list'
= render 'partials/supply_list'
= render 'partials/order_form'
= render 'partials/order_show'
= render 'partials/session_new'
= render 'partials/registration_edit'
= render 'partials/registration_new'
= render 'partials/help'